<!-- testng.xml -->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ECommerce_Automation_Suite" parallel="none" thread-count="1" verbose="2">
    
    <!-- Global suite parameters -->
    <parameter name="browser" value="chrome"/>
    
    <!-- Listeners for automatic reporting and screenshots -->
    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>
    
    <!-- Main test execution -->
    <test name="E-Commerce_Workflow_Tests" preserve-order="true">
        <parameter name="browser" value="chrome"/>
        
        <classes>
            <class name="tests.ECommerceTest">
                <methods>
                    <include name="testHomepageAndCategoryVerification"/>
                    <include name="testProductSelectionAndCartAddition"/>
                    <include name="testCartAndCheckoutWorkflow"/>
                    <include name="testNegativeScenarioValidation"/>
                    <!-- Bonus test is disabled by default -->
                    <!--<include name="testBonusUIChangesDetection"/>-->
                </methods>
            </class>
        </classes>
    </test>
    
    <!-- Optional: Smoke test suite -->
    <test name="Smoke_Tests" enabled="false">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.ECommerceTest">
                <methods>
                    <include name="testHomepageAndCategoryVerification"/>
                </methods>
            </class>
        </classes>
    </test>
    
</suite>